.static_pages.about_page
  -provide(:title, 'About EventDB')
  %h1 About EventDB
  %br/
  %br/
  %h2 Search for events of your interest
  %h4.pUnderH
    Haven't you ever felt that Google's 10 years old search engine is becoming |
    restrictive? Well, all of us know the story of how Google was created, |
    "creating" a huge step forward in search engines. But has it really evolvedv |
    since then? |
  
  %br/
  %p
    Using EventDB's vast database you can search for any event |
    in a given place or time of a specific category or using tags. This would have |
    a tremendous effect on numerous applications: |
  
  %dl
    %dt You can post or find new hot places!
    %dd 
      Have you recently went to a nice place that you would like to share? Here is your |
      your opportunity. On the other hand using EventDB's advanced search engine you can |
      find a new places that meets all your requirements! |
    %dt You can find your missing dog.
    %dd
      Using other's people coinsidence you can find your dog. When you see a stray dog |
      just post its location and its physical characteristics. You might be helping |
      someone else who is looking for its own dog (or cat, or air matress or...) |
    %dt You can follow a thief's path
    %dd
      Haven't you ever notice suspicious moves of a stranger near a house/car etc or |
      suspicious running in the metro? Well you should report it in EventDB, maybe these |
      suspicious moves have to do with a robbery or a theft. In that way you could help |
      other people or even the police! |
  
  %br/
  %br/
  %br/
  %br/
  %h2 Redefine Coincidence
  %h4.pUnderH
    Do you believe in coinsidence or fate?  Have you ever experienced a |
    collecion of unrelated events that turn out to be related ? Well, with EventDB |
    you can find out what really happened ! |
  %br/
  
  .row.span4
  %h3 
  %a{:href => "#"}
    %span.number 1
    Observe an event
  %p
    Observing or taking active part of an event is where everything |
    start. In our everyday life there are millions of events that take |
    place. Some of them are unique. For instance a very tastefull |
    cheesecake you ate in a shop is an experience you would like to |
    share with others. Or being part of a succesful demostration is |
    also an experience that you can share. |
  .span4
  %h3
  %a{:href => "#"}
    %span.number 2
    Publish your experience
  %p
    Sign in EventDB and publish your experience. You can describe your |
    involvement and your exposure to the event. You can also describe your |
    feelings or your expectations no matter what the event is about! Upload |
    your description and optionally add photos or links!* |
  .span4
  %h3
  %a{:href => "#"}
    %span.number 3
    Connect with other participants
  %p
    Didn't you always want to learn who where "these" people that were |
    with you that moment? Didn't you want to congratulate or express your |
    pleasure about someone's action? EventDB facilitates you to learn and |
    connect with new people that lived the same experience with you! |
  
  %br/
  %br/
  %br/
  %br/
  
  %h2 Connect with other people
  %h4.pUnderH
    You can connect and meet new people who have same experiences with |
    you. By broswing EventsDB's database and tags you can find stories that |
    have in common with your experience. Thus, you can create new friends who |
    have same experiences and interests with you! |
  
  %br/
  %br/
  %br/
  %br/
  %h2 How it works
  %h4.pUnderH
    Probably you have already started wondering how this whole think works
    %strong efficiently.
    In the following you will find a basic explanation.
  %br/
  %p
    EventDB is a fully centralized database. Still its operation has much to |
    do with networks and specifically social and data-centric networks. |
    Although the nature of events and their relation have much to do with
    social networks, it is not always the case. In social networks most of the |
    times you connect with people that you know in real life. However, in |
    EventDB you might want to connect with people that just had the same
    experience with you today. |

    EventDB has been deployed basically using Ruby and Ruby on Rails |
    framework. However, many other third party frameworks have been used |
    extensively in order to increase our quality. |


