<div class="home_page">
<% provide(:title, 'EventDB') %>
<div class="center hero-unit">  
<h1> EventDB </h1>
<p id="slogan"> A new multifunctional search engine based on people's experiences ! </p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>  



<div class="row">
  <div class="span12">
    <div id="map_canvas"></div>
  </div>
  <div class="figure">
    <p> See how events relate with each other!   </p>
  </div>
</div>
</div>
