%li
  .title= micropost.title
  .content= micropost.content
  
  .timestamp
    Posted #{time_ago_in_words(micropost.created_at)} ago.
    - if current_user?(micropost.user)
      = link_to "delete", micropost, method: :delete,
                                      data: { confirm: "You sure?" },
                                      title: micropost.title
