- provide(:title, @micropost.title)
- content_for :specific_scripts do
  = javascript_include_tag "micro_map.js"
.microposts_page
  .row
    .span6.offset3
      %h2= @micropost.title
      %br/
      .map_canvas#micro_map
    .span8.offset2
      %br/
      %p= @micropost.content
