
/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-align: center;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  padding-right: 15px;
  font-size: 1.7em;
  color: grey;
  font-variant: small-caps;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.mytopcontainer {
 text-align: center;
}

.sublogo {
  float: left;
  margin-right: 10px;
  font-size: 1em;
  color: grey;
  letter-spacing: 0px;
  padding-top: 16px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }

}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
