/* microposts */

.users_page {

  .microposts {
    list-style: none;
    margin: 10px 0 0 0;
  
    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
  }

  .content {
    display: block;
  }

  .timestamp {
    color: $grayLight;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
  }

  aside {
    textarea {
      height: 10px;
      margin-bottom: 5px;
    }
  }

  .title {
    font-weight: 900;
  }
  .justified {
    text-align:justify;
    text-justify:inter-word;
  }
}

.microposts_page {
  .map_canvas#mini_map {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 400px;
    width: 100%;
  }

  .map_canvas#micro_map {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 400px;
    width: 100%;
  }

}
