<footer class="footer">
  <small>
   by <a href="http://filippos.vasilak.is">Filippos Vasilakis</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>

